<h1><font color='red'>Patterns</font></h1>

In [ ]:
n=4*2
N=5

for i in range(1,n):
  for j in range(1,n):
    value=N-min(min(i,j),min(n-i,n-j))
    print(value,end="") 
  print('\n')

4444444

4333334

4322234

4321234

4322234

4333334

4444444

In [ ]:
n=4

for i in range(1,(2*n)):

  if i>n:
    cols=(2*n)-i
  else:
    cols=i

  spaces=n-cols

  for j in range(spaces):
    print(" ",end="")
  
  for k in range(cols,0,-1):
    print(k,end="")

  if 2<=cols:
    for k in range(2,cols+1):
      print(k,end="")

  print('\n')

   1

  212

 32123

4321234

 32123

  212

   1

In [ ]:
for i in range(5):
  for j in range(5):
    print('*',end="")
  print("\n")

*****

*****

*****

*****

*****

In [ ]:
for i in range(1,6):
  for j in range(i):
    print("*",end=" ")
  print("\n")

*

* *

* * *

* * * *

* * * * *

In [ ]:
n=6
for i in range(1,n):
  for j in range(n-i):
    print("*",end=" ")
  print('\n')

* * * * *

* * * *

* * *

* *

*

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=" ")
  print('\n')

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [ ]:
n=5

for i in range(2*n):
  if i>n:
    cols=(2*n)-i
  else:
    cols=i

  for j in range(cols):
    print("*",end=" ")

  print('\n')

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

In [ ]:
n=5

for i in range(1,n+1):
  spaces=n-i

  for j in range(spaces):
    print(" ",end=" ")

  for j in range(i):
    print("*",end=" ")

  print("\n")

        *

      * *

    * * *

  * * * *

* * * * *

In [ ]:
n=5

for i in range(n):
  spaces=i

  for j in range(spaces):
    print(" ",end=" ")

  for j in range(n-i):
    print("*",end=" ")

  print("\n")

* * * * *

  * * * *

    * * *

      * *

        *

In [ ]:
n=5

for i in range(1,n+1):
  spaces=n-i

  for j in range(spaces):
    print(" ",end="")

  for j in range((2*i)-1):
    print("*",end="")

  print("\n")

    *

   ***

  *****

 *******

*********

In [ ]:
n=5
k=(2*n)-1

for i in range(0,n):
  spaces=i

  for j in range(spaces):
    print(" ",end="")

  for j in range(k,0,-1):
    print("*",end="")
  k=k-2

  print("\n")

*********

 *******

  *****

   ***

    *

In [ ]:
n=5

for i in range(1,n+1):
  spaces=n-i

  for j in range(spaces):
    print(" ",end="")

  for j in range(i):
    print("* ",end="")

  print('\n')

    *

   * *

  * * *

 * * * *

* * * * *

In [ ]:
n=5

for i in range(n+1):
  spaces=i

  for j in range(spaces):
    print(" ",end="" )

  for k in range(n-i,-1,-1):
    print("* ",end="")

  print("\n")

* * * * * *

 * * * * *

  * * * *

   * * *

    * *

     *

In [ ]:
n=5

for i in range(2*n-1):
  if i>=n:
    cols=i-3
    spaces=n-cols
  else:
    cols=n-i
    spaces=i

  for j in range(spaces):
    print(" ",end="")

  for j in range(cols):
    print("* ",end="")

  print("\n")

* * * * *

 * * * *

  * * *

   * *

    *

   * *

  * * *

 * * * *

* * * * *

In [ ]:
n=7

for i in range(n+1):
  spaces=n-i

  for j in range(spaces):
    print("  ",end="")

  if i==n:
    for j in range(2*i-1):
      print("* ",end="")

  elif i<n:
    for j in range(2*i-1):
      if j==0:
        print("* ",end="")
      elif j==2*i-2:
        print("* ",end="")
      else:
        print("  ",end="")


  print("\n")

            *

          *   *

        *       *

      *           *

    *               *

  *                   *

* * * * * * * * * * * * *

In [ ]:
n=5
k=(2*n)-1

for i in range(n+1):
  spaces=i

  for j in range(spaces):
    print("  ",end="")

  if k==2*n-1:
    for j in range(k):
      print("* ",end="")

  elif k<2*n-1:
    for j in range(k):
      if j==0:
        print("* ",end="")
      elif j==k-1:
        print("* ",end="")
      else:
        print("  ",end="")

  k=k-2
  print("\n")

* * * * * * * * *

  *           *

    *       *

      *   *

        *

In [ ]:
n=7
k=2*n-1-2

for i in range(1,2*n):
  if i>=n+1:
    spaces=abs(n-i)
    cols=k

  else:
    cols=2*i-1
    spaces=n-i

  for j in range(spaces):
    print("  ",end="")

  for j in range(cols):
    if j==0:
      print("* ",end="")
    elif j==cols-1:
      print("* ",end="")
    else:
      print("  ",end="")

  if i>=n+1:
    k=k-2
  
  print("\n")

            *

          *   *

        *       *

      *           *

    *               *

  *                   *

*                       *

  *                   *

    *               *

      *           *

        *       *

          *   *

            *

In [ ]:
n=5
width=7

for i in range(n):
  if i==0 or i==n-1:
    for j in range(width):
      print("* ",end="")
  else:
    for j in range(width):
      if j==0 or j==width-1:
        print("* ",end="")
      else:
        print("  ",end="")

  print("\n")

* * * * * * *

*           *

*           *

*           *

* * * * * * *

In [ ]:
n=8

for i in range(1,n+1):
  cols=(n+1)-i

  for j in range(cols):
    print(i ,end="")

  print("\n")

11111111

2222222

333333

44444

5555

666

77

8

In [ ]:
n=5
k=1

for i in range(1,n+1):
  for j in range(k,k+i):
    print(str(j)+ " ",end="")

  k=k+i
  print("\n")

1

2 3

4 5 6

7 8 9 10

11 12 13 14 15

In [ ]:
n=5
k=1

for i in range(1,n+1):
  if i%2==0:
    k=0
  else:
    k=1

  for j in range(i):
    print(str(k)+" ",end="")
    if k==0:
      k=1
    else:
      k=0

  print("\n")

1

0 1

1 0 1

0 1 0 1

1 0 1 0 1

In [ ]:
n=7
width=5

for i in range(1,n+1):
  spaces=n-i
  for j in range(spaces):
    print(" ",end="")

  if i==1 or i==n:
    for j in range(width):
      print("* ",end="")

  else:
    for j in range(width):
      if j==0 or j==width-1:
        print("* ",end="")
      else:
        print("  ",end="")
  print("\n")

      * * * * *

     *       *

    *       *

   *       *

  *       *

 *       *

* * * * *

In [ ]:
n=5

for i in range(n):
  
  for j in range(64+n-i,64,-1):
    print(chr(j)+" ",end="")

  print("\n")

E D C B A

D C B A

C B A

B A

A

In [ ]:
n=5

for i in range(n):

  for j in range(64+n-i,64+n+1):
    print(chr(j)+" ",end="")

  print("\n")

E

D E

C D E

B C D E

A B C D E

In [ ]:
n=6
k=65
flag=0

for i in range(1,n+1):
  for j in range(k,k+i):
    if flag==0:
      print(chr(j).lower()+" ",end="")
      flag=1
    else:
      print(chr(j).upper()+" ",end="")
      flag=0
  k=k+i

  
  print("\n")

a

B c

D e F

g H i J

k L m N o

P q R s T u

In [ ]:
n=9
k=1

for i in range(2*n-1):

  if i>=n:
    k=k-1
    for j in range(2*n):
      if j>=k and j<=2*n-1-k:
        print(" ",end="")
      else:
        print("*",end="")
    
  else:
    for j in range(2*n):
      if j>=k and j<=2*n-1-k:
        print(" ",end="")
      else:
        print("*",end="")
    if i+1==n:
      pass
    else:
      k=k+1

  print("\n")

*                *

**              **

***            ***

****          ****

*****        *****

******      ******

*******    *******

********  ********

******************

********  ********

*******    *******

******      ******

*****        *****

****          ****

***            ***

**              **

*                *

In [ ]:
n=5

for i in range(1,n+1):
  spaces=(n)-i
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
  for k in range(1,i+1):                                         
    print(str(k)+" ",end="")

  for k in range(spaces):
    print("  ",end="")

  for k in range(spaces):
    print("  ",end="")

  for k in range(i,0,-1):
    print(str(k)+" ",end="")

  print("\n")

1                 1

1 2             2 1

1 2 3         3 2 1

1 2 3 4     4 3 2 1

1 2 3 4 5 5 4 3 2 1

In [ ]:
n=5

for i in range(2*n):
  if i>=n:
    spaces=2*n-i
    cols=n-spaces

    for j in range(cols):
      print("* ",end="")

    for j in range(spaces):
      print("# ",end="")

  else:
    spaces=i
    cols=n-spaces

    for j in range(cols,-1,-1):
      print("* ",end="")

    for j in range(spaces):
      print("# ",end="")

  print("\n")

* * * * * *

* * * * * #

* * * * # #

* * * # # #

* * # # # #

# # # # #

* # # # #

* * # # #

* * * # #

* * * * #

In [ ]:
print(chr(65))

A

In [ ]:
n=int(input())
count=65

for i in range(n):

  for j in range(count,count+i+1):
    print(chr(j),end="")

  print("\n")
  count+=1

A

BC

CDE

DEFG

EFGHI

FGHIJK

In [ ]:
## Read input as specified in the question.
## Print output as specified in the question. # bhaiya code
n=int(input())
i=n
k=1
while i>=1:
  j=1
  startingc = chr(ord(chr(n+63))+i-n)
  while j<=k:
    charp = chr(ord(startingc)+j)
    print(charp, end='')
    j+=1
  k+=1
  print()
  i-=1

5
E
DE
CDE
BCDE
ABCDE

In [ ]:
E
DE
CDE
BCDE
ABCDE

In [ ]:
n=5
count=64+n

for i in range(n):

  for j in range(count-i,count+1):
    print(chr(j),end="") 

  print("\n")

E

DE

CDE

BCDE

ABCDE

In [ ]:
## Read input as specified in the question.
## Print output as specified in the question.
n=int(input())
i=1
while i<=n:
  j=1
  while j<=i:
    if i==1:
      print(1, end='')
    elif j==1 or j==i:
      print(i-1, end='')
    else:
      print(0, end='')
    j+=1
  print()
  i+=1

In [ ]:
1
11
202
3003

In [ ]:
n=5

for i in range(n):
  if i==0:
    print(1,end="")
  elif i>0:
    for j in range(i+1):
      if i>=2:
        if j==0 or j==i:
          print(i,end="")
        else:
          print(0,end="")
      else:
        print(i,end="")

  print("\n")

1

11

202

3003

40004

In [ ]:
## Read input as specified in the question.
## Print output as specified in the question.
n=int(input())
i=1
while i<=n:
  j=1
  while j<=i:
    if i==1 or j==1 or j==i:
      print(1, end='')
    else:
      print(2, end='')
    j+=1
  print()
  i+=1

In [ ]:
1
11
121
1221

In [ ]:
n=4

for i in range(4):
  if i==0:
    print(1,end="")
  elif i>0:
    for j in range(i+1):
      if i>=2:
        if j==0 or j==i:
          print(1,end="")
        else:
          print(2,end="")
      else:
        print(1,end="")

  print("\n")

1

11

121

1221

In [ ]:
n=7
peak=int(n/2)+1

for i in range(n+1):
    
  if i==0:
      continue

  if i>peak:
    spaces=i-peak
    cols=n-(2*spaces)

    for j in range(spaces):
      print("  ",end="")

    for j in range(cols):
      print("* ",end="")
    
  else:
    cols=2*i-1
    spaces=peak-i

    for j in range(spaces):
      print("  ",end="")

    for j in range(cols):
      print("* ",end="")

  print("\n")

      *

    * * *

  * * * * *

* * * * * * *

  * * * * *

    * * *

      *

In [ ]:
#  *000*000*
#  0*00*00*0
#  00*0*0*00
#  000***000

n=4

for i in range(n):
    
    for j in range(2*n+1):
        if j==i:
            print("* ",end="")
        elif  j==2*n-i:
            print("* ",end="")
        elif j==n:
            print("* ",end="")
        else:
            print(str(0)+" ",end="")
            
    print("\n")

* 0 0 0 * 0 0 0 *

0 * 0 0 * 0 0 * 0

0 0 * 0 * 0 * 0 0

0 0 0 * * * 0 0 0